~*
*~
*#
Thumbs.db
*.bak
*.swp
tmp/

# Log files and binary files
# Committing a huge file could be really bad
*.log
*.zip
*.tar.gz
*.tgz
*.gz
*.tar
*.z7
*.exe
*.msi
*.pkg
*.dll
*.so

# Gradle files
gradle/
**/build/
**/out/
gradlew*
.gradle/
gradle.properties

/atlassian-ide-plugin.xml
rebel.xml
*.css.map
Gemfile.lock

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Keep these config files
!/.gitignore
!/.travis.yml
!/.circleci/config.yml
!/.github
!/.appveyor.yml
!/.readthedocs.yml
!/.dockerignore
!/.editorconfig
!/.pre-commit-config.yaml
!/.scrutinizer.yml
